.weather-form {
    font-family: calibri;
    border: 1px solid gray;
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto;

    &__heading {
        font-size: 20px;
        margin: 0;
        padding: 10px 15px;
        border-bottom: 1px solid gray;
    }

    &__inner-wrap {
        padding: 20px 15px;
    }

    .form-field-wrapper {
        margin-bottom: 2px;
    }

    input {
        border-radius: 3px;
        line-height: 22px;
        padding: 2px 7px;
        border: 1px solid gray;
        width: 100%;
        box-sizing: border-box;
        
    }
    button {
        border: 0;
        background-color: #435b8d;
        color: #fff;
        padding: 7px 15px;
        border-radius: 25px;
        margin-left: auto;
        display: block;
        cursor: pointer;

        &[disabled] {
            cursor: default;
            opacity: .5;
        }
    }
}